langchain
langchain-core
langchain-community
langchain-experimental

langchain-openai
openai

langchain-google-genai
google-generativeai

langchain-groq
groq

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy
scikit-learn
pydantic
pypdf
beautifulsoup4
grandalf